* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #333;
}

body {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

header {
  padding-top: 70px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  color: black;
}

header img {
  width: 105px;
  position: absolute;
  top: 63px;
  left: 0px;
  z-index: 0;
}

header ul {
  list-style: none;
  margin-bottom: 2px;
  margin-top: 10px;
}

header a {
  color: inherit;
  text-decoration: none;
}

header li {
  display: inline-block;
  padding: 0 10px;
}

header li:first-of-type {
  font-weight: bold;
  border-right: 1px solid black;
}

main {
  width: 800px;
  max-width: 100%;
  display: flex;
  z-index: 10;
  border: 1px solid #f1f1f1;
  padding: 50px 25px 50px 50px;
  box-shadow: 0 2px 20px #eee;
  justify-content: space-between;
}

main section {
  width: 500px;
  border-right: 1px solid #CCC;
}

section div {
  width: 100%;
  max-width: 400px;
  display: flex;
}

section h1 {
  margin: 0;
  font-size: 27px;
  font-weight: 400;
  line-height: 2;
}

section label {
  display: block;
  margin: 16px 0 11px;
}

section form {
  width: 100%;
  max-width: 325px;
  padding-top: 1px;
  color: black;
}

section input {
  width: 100%;
  height: 32px;
}

section span {
  font-size: 12px;
  color: #555;
}

section a {
  color: #4D90FE;
  text-decoration: none;
}

#checkbox {
  height: 55px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#checkbox * {
  margin: 0;
  display: inline-block;
  width: auto;
  font-size: 15px;
  color: black;
}

#checkbox input {
  height: 20px;
  width: 20px;
  background: white;
  margin-right: 12px;
}

form button {
  color: white;
  background-color: #45CAE6;
  height: 40px;
  font-size: 15px;
  width: 100px;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
}

aside {
  height: 540px;
  background-color: #f5f5f5;
  color: #4a4a4a;
  width: 200px;
  padding: 20px 10px 40px;
}

aside h2 {font-weight: 400;font-size: 20px;height: 25px;text-align: center;margin-bottom: 0;}

aside ul {
  padding-left: 20px;
  width: 95%;
  margin: 0;
  font-size: 14px;
}

aside li {
  margin: 25px 5px;
}

@media screen and (max-width: 767px) {
  aside {
    display: none;
  }

  main section {
    border-right-color: #FFF;
  }
}
